.main{
  margin: auto;
  background-color: cadetblue;
  max-width: 100%;
  width: 1400px;
  height: 95vh;
  max-width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &__search{
  width: 100%;
  position: absolute;
  top: 0;
  left: 2%;
  display: flex;
  align-items: center;
  background-color: rebeccapurple;
  // justify-content: center;
    input{
      float: left;
      padding: 6px;
      border: none;
      font-size: 17px;
    }
     button{
      width: 60px;
      height: 30px;
      cursor: pointer;
      margin-left: 5px;


    }
    }
    &__contnet{
      width: calc(1400px - 5%);
      height: auto;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      &__countyName, &__population{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 360px;
        height: 280px;
        background-color: blueviolet;
         p{
           font-size: 20px;
          font-weight: bold;
        }

      }
      &__population{
        margin: 20px;
        align-items: start;
        justify-content: space-around;
      }
    }
  }


