<div class="main">
    <div class="main__search">
      <input type="text" placeholder="Search..">
      <button type="submit">Submit</button>
    </div>




    <div class="main__contnet">
      <div class="main__contnet__countyName">
        <p>{{ x?.countryName | uppercase }}</p>
        <img [src]="x?.flag" alt="">
      </div>

        <ul class="main__contnet__population">
          <li>{{x?.population}}</li>
          <li>{{x?.languages  }}</li>
          <li>{{x?.Currency  }} {{x?.symbol }}</li>
          <li>{{x?.continents}}</li>
        </ul>
    </div>

    <div class="main__map">
      <p>{{x?.map}}</p>
      <iframe [src]="x?.map | safeUrl" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>



